@model CikolataWebSitesi.Models.
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    
    <div class="col-lg-12">
        <br />
        <fieldset>
            <legend> <h2>İstatistikler</h2></legend>

            <table>
                <tr>
                    <td>  Günlük satilan ürün sayisi :   </td>
                    <td>   </td>
                </tr>
                <tr>
                    <td>  Haftalık satılan ürün sayısı : </td>
                    <td>  asd  </td>
                </tr>
                <tr>
                    <td>  Tüm satılan ürün sayısı : </td>
                    <td>  asd  </td>
                </tr>

                <tr>
                    <td>  Haftalık üye kayıt sayısı : </td>
                    <td>  asd  </td>
                </tr>
                <tr>
                    <td>  Haftalık üye kayıtt sayısı : </td>
                    <td>  asd  </td>
                </tr>
                <tr>
                    <td>  Tüm kayıtlı üye sayısı : </td>
                    <td>  asd  </td>
                </tr>

            </table>
            <legend>En çok satılan 5 ürün</legend>
            <h>as</h>
            <legend>En çok satış yapılan kategori</legend>
            <h>as</h>
            <legend>En çok sepete eklenen 5 ürün</legend>
            <table>
                <tr>
                    <td>  asdda  </td>
                </tr>
            </table>
        </fieldset>
        <br />


    </div>



</div>


